@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: lmroman10;
    font-weight: 400;
    font-style: normal;
    src: url(fonts/lmroman10-regular.otf);
    font-named-instance: "Regular";
}
@font-face {
    font-family: lmroman10;
    font-weight: 700;
    font-style: bold;
    src: url(fonts/lmroman10-bold.otf);
}
@font-face {
    font-family: lmroman10;
    font-weight: 700;
    font-style: italic;
    src: url(fonts/lmroman10-bolditalic.otf);
}
@font-face {
    font-family: lmroman10;
    font-weight: 400;
    font-style: oblique;
    src: url(fonts/lmromancaps10-oblique.otf);
}
@font-face {
    font-family: lmroman10;
    font-weight: 500;
    font-style: normal;
    src: url(fonts/lmromandemi10-regular.otf);
}
@font-face {
    font-family: lmroman10;
    font-weight: 400;
    font-style: normal;
    src: url(fonts/lmromanslant10-regular.otf);
}